*~
*.orig
*.patch
LICENSE.txt
backups/*
tmp/*
files/*
sites/default/files/*
sites/default/settings.php
lorem.txt
*~
\#*
.#*
*.sh
sites/all/modules/custom_features/untracked_variables_fr/
/docs/
dump.*
.htaccess
