[submodule "sites/all/modules/patched/ipetranslation"]
	path = sites/all/modules/patched/ipetranslation
	url = git://repos.szantogabor.com/kogabor/ipetranslation.git
[submodule "sites/all/modules/patched/nodeformsettings"]
	path = sites/all/modules/patched/nodeformsettings
	url = git://repos.szantogabor.com/kogabor/nodeformsettings.git
[submodule "sites/all/modules/custom/backref_check"]
	path = sites/all/modules/custom/backref_check
	url = git://git.drupal.org/sandbox/szantog/1203278.git
[submodule "sites/all/modules/custom/wysiwyg_gallery"]
	path = sites/all/modules/custom/wysiwyg_gallery
	url = https://github.com/hosszukalman/Wysiwyg-gallery.git
