/**
 * @file
 * Views Styling
 */
 @import 'base.less';

.views-row {
  //This is because of front page h2 top margin, just try it.
  overflow: hidden;

  h2 {
    margin-top: 0;
  }
}

.view-content {
  position: relative;
}

.view-front-page-slideshow {
  .views-field-field-fp-slideshow-image-fid {
    height: 370px;
    border-bottom: 1px solid @border-color2;
  }

  .views-field-markup,
  .views-field-nothing {
    background-color: #eee2b3;
    line-height: 24px;
    border-top: 1px solid #f1ebd1;
  }

  .views-slideshow-controls-bottom {
    display: block;

    a {
      position: absolute;
      z-index: 10;
      line-height: 24px;
      bottom: 0;
      color: #000;

      &.views_slideshow_previous {
        left: 10px;
        background: url(../images/prev-slide.png) left top no-repeat;
        .p-left(20px);
      }
      &.views_slideshow_next {
        right: 10px;
        background: url(../images/next-slide.png) right top no-repeat;
       .p-right(20px);
      }
    }
  }
}

#views_slideshow_singleframe_playpause_front_page_slideshow-block_1 {
   display: none;
}

// Art list pages

.view-art-list1 {

  .view-content {
    padding: 10px;
  }

  .views-view-grid {

    td  {
      vertical-align: bottom;
    }

    .views-field {
      margin: 0 8px;
      //padding: 0 4px;
      line-height: 20px;
      font-size: 11px;
    }

    .col-first .views-field {
      margin-left: 0;
    }

    .col-last .views-field {
      margin-right: 0;
    }

    .views-field-field-art-image-uploaded-fid {
      padding-bottom: 7px;
    }

    .views-field-field-art-artist-nid h2{
      margin: 8px 0 0 0;
      font-size: 11px;
      font-weight: bold;
    }

    .views-field-title h3 {
      font-size: 11px;
      margin: 0;
      font-weight: normal;
    }

    .views-field-field-art-size-value {
      padding-bottom: 13px;
    }
    .field-content {
      //padding: 0 10px;
    }
  }
}

.views-exposed-form {
  .views-exposed-widgets {
      position: relative;
      width: 540px;
      margin: 0 auto;

    .views-reset-button {
      position: absolute;
      right: 0;
      top: 0;
      .form-submit {
        margin-top: 0;
      }
    }

    .views-submit-button {
      position: absolute;
      right: 0;
      top: 30px;
      .form-submit {
        margin-top: 0;
      }
    }
  }

  .views-exposed-widget {
    padding: 0 0 12px;
   }

  label {
    display: none;

    &.compact-form-label {
      display: block;
    }
  }

  .form-text,
  .form-select {
    width: 210px;
    margin-right: 12px;
  }

}