
@import "base.less";

div.node-form .resizable-textarea {
  width: 99.5%;
  .clear;
}

.node-type-art {
  .form-region-main .form-textfield-container,
  .form-region-main .form-select-container,
  #show-nid {
    .left-label(140px; auto);

    select,
    input {
      .left;
      width: 200px;
    }

    select {
      width: 207px;
    }
    .no-marding;
    .clearfix;

    .description {
      .no-marding;
      line-height: inherit;
    }
  }

  .form-region-main .form-textarea-container {
    .left-label;
    .no-marding;

    label {
    }
    .description {
      line-height: inherit;
    }
  }

  #group-exhibition-items {
    .m-top;
  }

  .container-inline-date {
    display: inline-block;
    //.no-marding;
    .m-right;
    .left-label(140px; 140px;);

    input {
      .no-marding;
      //width: 140px !important;
      .m-right;
    }

    .form-item .description {
      width: auto;
    }
  }

  #edit-field-art-date-0-value2-wrapper {
    .left-label(auto; auto;);
  }

  .form-region-main fieldset {
    border: medium none;
    margin: 0;
    padding: 0;
    position: relative;

    .fieldset-wrapper {
      padding: 0;
    }
    legend {
      display: none;
    }

    .description {
      float: right;
      width: 160px;
      .no-marding;
    }


  }

  select {
    height: 23px;
  }
  .resizable-textarea {
    .m-bottom;
  }

  .separator {
    .m-bottom;
  }

  .form-imagefield_widget-container {
    .no-marding;
  }

  .form-region-right {
    .form-checkbox-container {
      .clearfix;
      .m-top(0);
      .padding(0);
      .clear;


      .description {
        margin: 3px 0;
      }
    }
  }
}
// node forms

#edit-field-art-artist-nid-nid-wrapper,
#edit-field-art-size-0-value-wrapper,
#edit-field-art-technique-nid-nid-wrapper,
#edit-field-art-sign-0-value-wrapper,
#edit-field-art-registration-0-value-wrapper,
#edit-field-art-purchase-place-0-value-wrapper,
#edit-field-art-purchase-year-0-value-wrapper,
#edit-field-art-purchase-price-0-value-wrapper,
#edit-field-art-slideshow-value-wrapper,
#edit-field-artist-birth-0-value-wrapper
 {
  //.left;
}

#edit-group-exhibition-0-field-art-exhibition-visibility-value--wrapper {
  display: none;
}

.date-clear-block {
  //display: inline-block !important;
}


.group-art-non-published-details {
  fieldset {
    //.clear;
  }
}

#edit-field-art-purchase-note-0-value-wrapper {
  //.clear;
}

#conditional-field-art-slideshow {
  .left;
}

#conditional-field-art-slideshow-weight {
  .left-label(auto; auto);
}

.views-exposed-form label {
  float: left;
  width: 150px;
}

.views-exposed-form .form-item {
  padding: 0;
}

.views-exposed-form .views-exposed-widget {
  float: none;
}

ul.tips, div.description, .form-item div.description {
  color: #666666;
  font-size: 11px;
  line-height: 15px;
  margin: 5px 0;
}