
@import "base.less";

.node-type-art .view-node-datasheet,
.node-type-exhibition .view-node-datasheet {
  .nd-region-middle-wrapper {
    .field-label-inline-first {
      display: inline-block;
      width: 180px;
    }
  }
}

.node-type-art .view-node-datasheet {
  .nd-region-right {
    .field-label-inline-first {
      display: inline-block;
      width: 150px;
    }
  }
}

.field-art-sig,
.field-art-insurance,
.field-art-purchase-note,
.field-art-reproduced,
.field-art-image-note,
.field-art-state,
.field-exhibition-date,
.field-exhibition-image {
  .separator;
  padding-bottom: 1em;
  margin: 0 1em 1em 0;
}

.field-group .field {
  padding-left: 1em;
}